$primary: #034459;

$secondary: #F2EDDA;

$position-values: (
    0: 0,
    10: 10%,
    20: 20%,
    25: 25%,
    30: 30%,
    35: 35%,
    40: 40%,
    45: 45%,
    50: 50%,
    55: 55%,
    60: 60%,
    65: 65%,
    70: 70%,
    75: 75%,
    80: 80%,
    85: 85%,
    90: 90%,
    100: 100%
);

$tooltip-bg: #FFF;
$tooltip-color: #000;
$tooltip-opacity: 1;